@import '../../colors/colors.scss';
$color: $darker;

.loaderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 150px;
  animation: rotating .5s ease  infinite;
  fill: darken($secondary, 20%);
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}