@import '../../../../colors/colors.scss';

.board {
  padding: 20px 5px 20px 20px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 60px 1fr;
  overflow: hidden;
  height: 100%;
}

.title {
  margin-bottom: 20px;
  flex-grow: 0;
}

.boardTasks {
  height: 100%;
  overflow-y: scroll;
}

.boardTasks::-webkit-scrollbar {
  width: 10px;
}

 
/* Handle */
.boardTasks::-webkit-scrollbar-thumb {
  background: darken($light, 20%);
  border-radius: 5px;
}

.boardTasks::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}